.main{
    width: 100px;
    height:100px;
    background-color: red;
    position: fixed;
    animation-name: mymove;
    /* 多长时间完成动画 */
    animation-duration: 6s;
    animation-timing-function: ease;
    /* 延迟多长时间执行 */
    animation-delay: 1s;
    /* 循环次数 */
    animation-iteration-count: infinite;
    /* 动画方向 */
    animation-direction: alternate;
}
@keyframes mymove{
    0%{ top:0; left:20%;}
    25%{ top:0; left:80%;background-color: blue;}
    50%{ top:80%; left:80%;background-color: chartreuse;}
    75%{ top:80%;left:20%;background-color: cyan}
    100%{ top:0; left:20%;background-color: red;}
}